/* Пробуем подключить CSS */

body {
	margin: 0 auto; /* Центрируем содержимое относительно окна браузера */
	max-width: 1024px; /* Ширина сайта */
	font-size: 1.3em;
}

/* Гланая страница */

	/* Сбрасываем стили списка в меню */
nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

	/* Активная ссылка меню */
nav .active { 
	background-color: #c8c8c8;
	text-decoration: none;
	color: #fff;
}

/*Оформление содержимого статьи*/

	/* картинки в статье*/
article img {
	display: block; /*преобразуемм в блочный чтобы отступы воспринимались*/
	margin: 2em auto; /*центрируем на странице*/
}


/* Оформление галереи */
figure {
	display: inline-block; 	/* inline-blok элементы выстраиваются в одну строку*/
	margin: 10px;
	border: 1px dashed gray;
	width: 30%;
	vertical-align: baseline;
}
	/* Миниатюры в галерее */
figure img {
	display: block;
	margin: 10px auto;
	max-width: 90%; /* Размер миниатюр в галерее*/
}

	/*Подпись к картинкам-миниатюрам */
figure figcaption {
	padding: 10px;
	font-size: 0.7em;
	font-style: italic;
	text-transform: uppercase;
	border-top: 1px dashed gray;
}

/*комментарии к статьям*/

.comment {
	margin-top: 20px;
}
	/*Автор коммментария*/
.comment .comment-author {
	margin: 10px 0;
	font-size: 1em;
	font-weight: bold;
}
	/*Текст комментария*/
.comment .comment-text {
	margin-left: 4em;
	font-size: 0.7em;
	font-style: italic;
}